# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database & Logs
*.db
*.sqlite3
*.log

# Environment variables
.env
.env.local

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node / React (Frontend)
node_modules/
frontend/node_modules/
dist/
frontend/dist/
build/
